<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://code.angularjs.org/1.2.16/angular.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/controllers/searchController.js"></script>
  <script src="./js/services/searchService.js"></script>
  <script src="./js/directives/delayedModel.js"></script>
</head>
<body>



<div ng-controller="searchController">

<form class="form-horizontal col-xs-offset-2 col-xs-6">

  <div class="form-group">
    <label for="Any" class="col-xs-2">Any</label>
    <div class="input-group col-xs-10">
    <input id="search" type="text" class="form-control" delayed-model="search.$" data-delay="500" >
    </div>
  </div>

   <div class="form-group">
    <label for="last_name" class="col-xs-2">Last Name</label>
    <div class="input-group col-xs-10">
    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    <input id="search.last_name" type="text" class="form-control" delayed-model="search.last_name" data-delay="500">
    </div>
  </div>

  <div class="form-group">
    <label for="first_name" class="col-xs-2">First Name</label>
    <div class="input-group col-xs-10">
    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    <input id="search.first_name" type="text" class="form-control" delayed-model="search.first_name" data-delay="500">
    </div>
  </div>

<!--  <div class="form-group">
    <label for="address_1" class="col-xs-2">Address 1</label>
    <div class="col-xs-10">
      <input type="text" class="form-control " name="address_1"  ng-model="search.address1">
    </div>
  </div>

  <div class="form-group">
    <label for="address_2" class="col-xs-2">Address 2</label>
    <div class="col-xs-10">
    <input type="text" class="form-control" name="address_2"  ng-model="search.address2">
    </div>
  </div>

  <div class="form-group">
    <label for="city" class="col-xs-2">City</label>
    <div class="col-xs-10">
    <input type="text" class="form-control" name="city">
    </div>
  </div>

  <div class="form-group">
    <label for="state" class="col-xs-2">State</label>
    <div class="col-xs-10">
    <input type="text" class="form-control" name="state">
    </div>
  </div>

  <div class="form-group">
    <label for="zip" class="col-xs-2">Zip</label>
    <div class="col-xs-10">
    <input type="text" class="form-control" name="zip">
    </div>
  </div>

  <div class="form-group">
    <label for="phone" class="col-xs-2">Phone</label>
    <div class="col-xs-10 input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
    <input type="text" class="form-control" name="phone">
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="col-xs-2">Email</label>
    <div class="col-xs-10 input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
    <input type="text" class="form-control" name="email">
    </div>
  </div> -->


<br clear=all>

<ul>
<li ng-repeat="politicalentity in politicalentities | filter:search:strict">
{{politicalentity.first_name}} {{politicalentity.last_name}},  {{politicalentity.address1}}, {{politicalentity.address2}} , {{politicalentity.city}}, {{politicalentity.state}} {{politicalentity.zip}}, {{politicalentity.email}}, {{politicalentity.phone}}
</ul>

</form>
</div>
</body>
</html>