<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/controllers/searchController.js"></script>
  <script src="./js/services/searchService.js"></script>
  <script src="./js/services/transactionsService.js"></script>
  <script src="./js/directives/delayedModel.js"></script>
  <script src="./js/filters/searchFilter.js"></script>
</head>
<body ng-app="app" ng-controller="searchController" ng-keypress="onKeyPress($event)">
<!-- <div > -->
<!-- <div > -->

<div>
  {{ev}}
</div>
<form class="form-horizontal col-xs-offset-2 col-xs-6">


  <div class="form-group">
      <button ng-click="formdisplay = !formdisplay">toggle additional fields</button>
  </div>

  <div class="form-group">
    <label for="Any" class="col-xs-2">Any</label>
    <div class="input-group col-xs-10">
    <input id="search" type="text" autofocus class="form-control" delayed-model="search.$" data-delay="500">
    </div>

  </div>



    <div ng-show="formdisplay">

    <div class="form-group">
      <label for="first_name" class="col-xs-2">First Name</label>
      <div class="input-group col-xs-10">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      <input id="search.first_name" type="text" class="form-control" delayed-model="search.first_name" data-delay="500">
      </div>
    </div>

     <div class="form-group">
      <label for="last_name" class="col-xs-2">Last Name</label>
      <div class="input-group col-xs-10">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      <input id="search.last_name" type="text" class="form-control" delayed-model="search.last_name" data-delay="500">
      </div>
    </div>

    <div class="form-group">
      <label for="address1" class="col-xs-2">Address 1</label>
      <div class="col-xs-10">
        <input id="search.address1" type="text" class="form-control" delayed-model="search.address1" data-delay="500">
      </div>
    </div>


    <div class="form-group">
      <label for="address2" class="col-xs-2">Address 2</label>
      <div class="col-xs-10">
      <input id="search.address2" type="text" class="form-control" delayed-model="search.address2" data-delay="500">
      </div>
    </div>


    <div class="form-group">
      <label for="city" class="col-xs-2">City</label>
      <div class="col-xs-10">
      <input id="search.city" type="text" class="form-control" delayed-model="search.city" data-delay="500">
      </div>
    </div>


    <div class="form-group">
      <label for="state" class="col-xs-2">State</label>
      <div class="col-xs-10">
      <input id="search.state" type="text" class="form-control" delayed-model="search.state" data-delay="500">
      </div>
    </div>

    <div class="form-group">
      <label for="zip" class="col-xs-2">Zip</label>
      <div class="col-xs-10">
      <input id="search.zip" type="text" class="form-control" delayed-model="search.zip" data-delay="500">
      </div>
    </div>

    <div class="form-group">
      <label for="phone" class="col-xs-2">Phone</label>
      <div class="col-xs-10 input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
      <input id="search.phone" type="text" class="form-control" delayed-model="search.phone" data-delay="500">
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="col-xs-2">Email</label>
      <div class="col-xs-10 input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
      <input id="search.email" type="text" class="form-control" delayed-model="search.email" data-delay="500">
      </div>

    </div> <!-- additional fields -->


  </div>



  <div class="form-group">
      <button ng-click="selection = 'entities'">Show Entities (ctrl-e)</button>
      <button ng-click="selection = 'transactions'">Show Transactions (ctrl-t)</button>
  </div>


<br clear=all>
<p><b>Number of visible Entities:</b> {{(politicalentities|filter:search).length}}</p>
<p><b>Total number of Entities:</b> {{politicalentities.length}}</p>
<p><b>Total number of Transactions:</b> {{politicaltransactions.length}}</p>
<!-- <p>testgetbyentity: {{testgetbyentity | json}}</p> -->


  <div class="animate-switch-container"
    ng-switch on="selection">
      <div class="animate-switch" ng-switch-when="entities">

      <h2>Political Entities</h2>


        <div ng-if="(politicalentities|filter:search).length < 500">
        <ol>
        <li ng-repeat="politicalentity in (foo = (politicalentities | filter:search))">
        <a ng-click="showTransactions(politicalentity.ID)">
        {{politicalentity.ID}} {{politicalentity.first_name}} {{politicalentity.last_name}},
        {{politicalentity.address1}},
        {{politicalentity.address2}},
        {{politicalentity.city}}, {{politicalentity.state}} {{politicalentity.zip}},
        {{politicalentity.email}},
        {{politicalentity.phone}}
        </a>
        </ol>


        </div>

      </div>
      <div class="animate-switch" ng-switch-when="transactions">
      <h2>Political Transactions</h2>
        <ol>
        <li ng-repeat="politicaltransaction in testgetbyentity">
        {{politicaltransaction.Entity}}
        {{politicaltransaction.Amount}}
        {{politicaltransaction.Type}},
        {{politicaltransaction.Source}},
        {{politicaltransaction.DisclosureDate}},
        {{politicaltransaction.DepositDate}},
        {{politicaltransaction.ProcessedDate}},
        {{politicaltransaction.SyncedDate}},
        {{politicaltransaction.PublicNote}}
        </ol>






      </div>

  </div>



</form>


<!-- </div> -->
<!-- </div> -->



</body>
</html>